h1{
    text-align: center;
    font-weight: bolder;

}
.desc{
    text-align: center;
}
body{
    background-color:orangered;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#image{
    background-position:relative;
    background-size: cover;
}
.cardi{
    background: black;
    font-family: sans-serif;
    font-style: italic;
    color:orangered;
}
.About{
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-style: italic;
    color:orangered;
    text-align: center;
    background-image:url(/images/product-school-DL-yyYDDNX4-unsplash.jpg) ;
}